appdirs==1.4.4
bidict==0.21.2
bio==0.7.7
biopython==1.79
biosppy==0.6.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cycler==0.10.0
distlib==0.3.1
dnachisel==3.2.7
docopt==0.6.2
filelock==3.0.12
flametree==0.1.11
Flask==2.0.1
flaskwebgui==0.3.2
gen-exe==0.2.1
h5py==3.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.0
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
numpy==1.19.5
pandas==1.2.1
Pillow==8.1.0
pipreqs==0.4.10
plac==1.3.3
proglog==0.1.9
pyparsing==2.4.7
python-codon-tables==0.1.10
python-dateutil==2.8.1
pytz==2021.1
pyvan==1.2.1
pywin32==301
requests==2.26.0
scikit-learn==0.24.1
scipy==1.6.0
shortuuid==1.0.1
six==1.15.0
threadpoolctl==2.1.0
tqdm==4.62.2
urllib3==1.26.6
virtualenv==20.4.2
waitress==2.0.0
Werkzeug==2.0.1
wfdb==3.2.0
whichcraft==0.6.1
yarg==0.1.9
